* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 512px) {
    canvas {
        width: 100%;
    }
}